# Virtual environment
.venv/
venv/

# Environment variables
.env

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# LangSmith local files
.langsmith/

# OS files
.DS_Store
Thumbs.db

# VS Code settings (optional)
.vscode/

# Build artifacts
dist/
build/

tempfile.mkdtemp()/